body {
    font-family: Arial, sans-serif;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Две колонки одинакового размера */
    gap: 20px;
    /* Расстояние между блоками */
    max-width: 800px;
    /* Максимальная ширина формы */
    margin: 0 auto;
    /* Центрирование формы */
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    background-color: #fafafa;
}

.form-container div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.form-container h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    /* Поля занимают всю ширину блока */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
input {
    margin: 1%;
}
textarea {
    resize: vertical;
    /* Позволяет изменять высоту текстового поля */
}

